@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital@0;1&display=swap');


body{
    background-color: rgb(48, 49, 48);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

li, a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 2%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    position: fixed;
    width: 100%;
    
    
}


.logo{
    cursor: pointer;
    margin-right: auto;
}

.navbar_links{
    list-style: none;
    text-decoration: none;
    font-weight: 400;
}

.navbar_links li{
    display: inline-block;
    padding: 0 20px;
}

.navbar_links li a{
    transition: all 0.4s ease-in-out 0s;
}

.navbar_links li a:hover{
    color: teal;
    cursor: pointer;
}

button{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding: 9px 25px;
    background-color: rgb(34, 112, 117);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;

}

button:hover{
    background-color: rgb(41, 41, 41);
    background-image: none;
    
}

.topsection{
    background-color: violet;
    height: 200px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0;
    z-index: 2;

    
    
}

.image__bc img{
    height: 200px;
    width: 1349px;
    object-fit: cover;
    
}



.topsection h1{
    font-size: 50px;

    
}

.feature__grid{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);





    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    z-index: 4;
}

.feature__grid2{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    margin-top: 5px;

    padding-left: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    z-index: 4;
}


.feature__items{
    color: white;
    background-color: rgb(32, 32, 32);
    margin-right: 20px;
    width: 180px;
    height: 225px;
    
    
}


.feature__tumbnail img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}



.feature__items .feature__snipet{
    font-size: 10px;
    
    margin-left: 120px;
    margin-top: 5px;
    
    
}

.feature__title{
    margin-left: 5px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-style: italic;
    
}






