*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
}

.container{
    background-color: rgb(245, 233, 196);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding-right: 20px;
    

}
.listmenu{
    display: flex;
    align-self: center;
    padding-left: 10px;
    text-decoration: none;
    
}

.listmenu a{
    color: hotpink;
    text-decoration: none;
    margin-left: 40px;
}

.section1{
    background-image: url('./images/shalsy1.jpg');
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 h2{
    color: ivory;
}

.section2{
    background-image: url('./images/shalcontent2.jpg');
    width: 100%;
    height: 200px;
}


.content1{
    display: flex;
    height: 160px;
}


.image{
    background-color: lightcoral;
    width: 140px;
    
}

.snipet{
    background-color: lightgray;
    width: 100%;
}

.content2{
    display: flex;
    height: 160px;
}


.image2{
    background-color: lightcoral;
    width: 700px;
    
}

.snipet2{
    background-color: lightgray;
    width: 100%;
}

